:root{
    --ff-primary: 'PT Sans', sans-serif;
    --ff-secondary: 'Ubuntu', sans-serif;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #FBAA04;
    --clr-hamburger: #1404FB;

    --fs-h1: 3.5rem;
    --fs-h2: 3.25rem;
    --fs-h3: 2.5rem;
    --fs-h4: 2.25rem;
    --fs-h5: 1.5rem;
    --fs-body: 1.25rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
section{
    padding: 5em 2em;
}
html{
    scroll-behavior: smooth;
}
.logo{
    max-width: 50px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--clr-hamburger);
    font-size: var(--fs-body);
    font-family: var(--ff-primary);
    min-height:  8vh;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links a{
    color: var(--clr-hamburger);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger{
    display: none;
}

.burger div{
    width: 25px;
    height: 5px;
    background-color: var(--clr-hamburger);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1500px){
    .nav-links{
        width: 60%;
    }
}

@media screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 20%;
        top: 5em;
        background-color: var(--clr-accent);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
   
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
    
}
.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }

}

.toggle .line1{
    transform: rotate(-45deg) translate(5px,5px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-7px,-20px);
}



#slider{
    overflow: hidden;
}
#slider figure{
    position: relative;
    width: 500%;
    margin: auto;
    left: 0;
    animation: 20s slider infinite;
    z-index: -1;
}
#slider figure img{
    width: 20%;
    float: left;
}


@keyframes slider{
    0%{
        left: 0;
    }
    20%{
        left: 0;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%
    }
}

.intro_title{
    position: relative;
    margin: auto;
    width: 80%;
    top: 10px;
    text-align: center;
    color:var(--clr-hamburger);
    font-family: var(--ff-primary);
}
.intro_subtitle{
    position: relative;
    margin: auto;
    width: 80%;
    top: 20px;
    text-align: center;
    color:var(--clr-hamburger);
    font-family: var(--ff-secondary);
}

.aboutUs{
    position: relative;
    margin: auto;
    text-align: center;
    width: 80%;
    
    font-family: var(--ff-secondary);
    color: var(--clr-accent);
}
.aboutUs_title{
    position: relative;
    margin: auto;
    width: 80%;
    top: 2em;
    text-align: center;
    font-family: var(--ff-secondary);
    color: var(--clr-accent);

}
.aboutUsInfo{
    position: relative;
    top:2em;
}
.aboutUsImg{
    position: relative;
    top:1em;
    width:100%;
    height: auto;
}


@media (min-width: 1000px) {
    
    .aboutUs {
        display: grid;
        margin: 2em 5em;
        grid-column-gap: 1em;
    }
    .aboutUs, img{
        grid-area: img;
        min-width: 250px;
        position: relative;
    }
    .aboutUsInfo{
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: left;
        position: relative;
        left:-1.5em;
        width: calc(100% + 1.5em);
        font-size:var(--fs-body) ;
    }
    .aboutUs_title{
        position: relative;
        margin: auto;
    }
    
}
.services_title{
    position: relative;
    margin: auto;
    width: 80%;
   
    text-align: center;
    font-family: var(--ff-secondary);
    color: var(--clr-hamburger);
}

.services_section{
    position: relative;
    width: 80%;
    margin: auto;
    top:2em;
    padding: 1em 0;
    text-align: center;
    background-image: url(../img/bladeServicesBackground.png);

}
.services_section ul li{
    list-style: none;
    font-family: var(--ff-secondary);
    font-size: var(--fs-body);
    color: var(--clr-accent);
    margin: auto;
    padding: 0.5em 0;
}

